<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="42139IlyaBuiluk.MusicTabGuide" Version="3.0.0.7" Publisher="CN=EF8785CD-C82D-422F-AFEE-47848356D993" />
  <Properties>
    <DisplayName>MusicTab Guide</DisplayName>
    <PublisherDisplayName>Ilya Builuk</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="MusicTab Guide" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="MusicTab Guide allows you to organize and view your tablatures" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\WideLogo.png" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>